@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Styrene;
        font-weight: 300;
        src: url("./assets/fonts/Styrene/StyreneAWeb-Light.woff") format("woff");
    }
    @font-face {
        font-family: Styrene;
        font-weight: 400;
        src: url("./assets/fonts/Styrene/StyreneAWeb-Regular.woff") format("woff");
    }
    @font-face {
        font-family: Styrene;
        font-weight: 500;
        src: url("./assets/fonts/Styrene/StyreneAWeb-Medium.woff") format("woff");
    }
}
